<!DOCTYPE html>
<html lang="en">

<head>
    <!-- head section -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORE-PLAY</title>
    <!-- Materialize css link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>

<body>

    <!-- header with nav -->
    <header>

    </header>

    <!-- main body of html -->
    <main>

    </main>

    <!-- footer section -->
    <footer>

    </footer>

    <!-- Materialize js link -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>