{% extends "base.html" %}
{% block content %}

<!-- hero image section -->
<section class="hero-image">
    <div class="hero-text">
        <h1 class="title" id="hero-title">FORE!PLAY</h1>
        <p id="hero-slogan">The network for golfers, by golfers.</p>
        <a href="#" class="btn-small black-text">Log In</a>
    </div>
</section>

<!-- features section  -->
<h3 class="title">Features</h3>
<div class="flex-container center">
    <div class="flex-items">
        <i class="fas fa-pound-sign icon"></i>
        <h4 class="mini-title">Free to use</h4>
        <p>Never worry about hidden fees. <strong>FORE!PLAY</strong> is free to use.</p>
    </div>
    <div class="flex-items">
        <i class="far fa-check-square icon"></i>
        <h4 class="mini-title">Easy to use</h4>
        <p>Golf is hard enough, you shouldnt need a degree to track your progress.</p>
    </div>
    <div class="flex-items">
        <i class="fas fa-mobile-alt icon"></i>
        <h4 class="mini-title">Mobile Friendly</h4>
        <p><strong>FORE!PLAY</strong> works across all device sizes, meaning you can take it out on the course with you!
        </p>
    </div>
    <div class="flex-items">
        <i class="fas fa-golf-ball icon"></i>
        <h4 class="mini-title">Made by golfers</h4>
        <p>We understand what golfers need, becuase we play too.</p>
    </div>
</div>

<!-- parallax image to break up the page -->
<div class="parallax-container">
    <div class="parallax"><img src="/static/images/course2.jpg"></div>
</div>

<!-- about section -->
<h3 class="title">About</h3>
<div class="flex-container center" id="flex-container">
    <p><strong>FORE!PLAY</strong> is a free to use web application for tracking all your golf events and scores. Simply
        sign up, create
        your profile and start tracking. See suggestions on trending golf courses and the communities scores.</p>
</div>

{% endblock %}