{% extends "base.html" %}
{% block content %}

<h1 class="title">Profile</h1>
<div class="row col s12 m8 offset-m2">
    <h5 class="center">Welcome {{ user.first_name.capitalize() }}</h5>
</div>

<div class="row">
    <div class="card-panel col s12 m8 offset-m2">
        <div class="row">
            <!-- first name and last name row -->
            <div class="col s12 m6">
                <i class="fas fa-user-circle prefix"></i>
                <label class="base-text">First Name: {{ user.first_name.capitalize() }}</label>
            </div>
            <div class="col s12 m6">
                <i class="fas fa-user-circle prefix"></i>
                <label class="base-text">Last Name: {{ user.last_name.capitalize() }}</label>
            </div>
        </div>
        <div class="row">
            <!-- email row -->
            <div class="col s12">
                <i class="fas fa-user-circle prefix"></i>
                <label class="base-text">Email: {{ user.email }}</label>
            </div>
        </div>
        <div class="row">
            <!-- Handicap and home course row -->
            <div class="col s12 m6">
                <i class="fas fa-golf-ball prefix"></i>
                <label class="base-text">Handicap: {{ user.handicap }}</label>
            </div>
            <div class="col s12 m12 l6">
                <i class="fas fa-location-arrow prefix"></i>
                <label class="base-text">Home Course: {{ user.home_course.title() }}</label>
            </div>
        </div>
        <div class="row col s12 center">
            <a href="{{ url_for('edit_profile', id=user._id) }}" class="btn-small text-shadow">
                Edit <i class="fas fa-sign-in-alt"></i>
            </a>
        </div>
    </div>
</div>

{% endblock %}