{% extends "base.html" %}
{% block content %}

<h1 class="title">Profile</h1>
<br>
<h5 class="center mini-title">Welcome {{ username }}</h5>
<br>
<div class="row">
    <div class="card-panel col s12 m8 offset-m2">
        <div class="row">
            <!-- first name and last name row -->
            <div class="col s12 m6">
                <i class="fas fa-user-circle prefix"></i>
                <label class="base-text">First Name: </label>
            </div>
            <div class="col s12 m6 padd">
                <i class="fas fa-user-circle prefix"></i>
                <label class="base-text">Last Name: </label>
            </div>
        </div>
        <div class="row">
            <!-- email row -->
            <div class="col s12 padd">
                <i class="fas fa-user-circle prefix"></i>
                <label class="base-text">Email: </label>
            </div>
        </div>
        <div class="row">
            <!-- Handicap and home course row -->
            <div class="col s12 m6 padd">
                <i class="fas fa-golf-ball prefix"></i>
                <label class="base-text">Handicap: </label>
            </div>
            <div class="col s12 m6 padd">
                <i class="fas fa-location-arrow prefix"></i>
                <label class="base-text">Home Course: </label>
            </div>
        </div>
    </div>
</div>

{% endblock %}